{% extends "base.html" %}

{% block body_content %}
    <h1>{% block body_title %}Document Indexing{% endblock %}</h1>

    {% if step != None %}
    {# Use this for a progress / step indicator / navigation #}
    <ul class="pager x-progress-tracker">
        {% url mdtui-index-1 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 1: Index Details &rarr;</a></li>
        {% url mdtui-index-2 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 2: Select Source &rarr;</a></li>
        {% url mdtui-index-3 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 3: Confirm &rarr;</a></li>
        {% url mdtui-index-4 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Finished</a></li>
    </ul>
    {% endif %}

    {% if step == None %} {# This step will no long be visible #}
    <p>This is where it begins...</p>
    <a class="btn btn-primary btn-large" href="{% url mdtui-index-1 %}">Start <i class="icon-chevron-right icon-white"></i></a>
    {% endif %}

    {% if step == "1" %}

        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Step {{ step }}: Index Details</legend>
                <br />
                <div class="alert alert-error">
                    <a class="close">×</a>
                    <strong>Error!</strong> Form validation errors go here! (field validation errors go along each field below)
                </div>

                <div class="control-group">
                    <label class="control-label" for="select_doc_type">Document Type</label>
                    <div class="controls">
                        <select id="select_doc_type">
                            <option></option>
                            <option>Legal</option>
                            <option>HR</option>
                            <option>Contracts</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="dateselect">Creation Date</label>
                    <div class="input">
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                                <input data-datepicker="datepicker" class="input-medium" type="text" value="" id="dateselect" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Key 1 Label</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="input01">
                        <p class="help-block">Key 1 Desc</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Key 2 Label</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="input02">
                        <p class="help-block">Key 2 Desc</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Key 3 Label</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="input03">
                        <p class="help-block">Key 3 Desc</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Description</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" id="inputdesc">
                        <p class="help-block">Short description of the document</p>
                    </div>
                </div>

            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
            </div>
        </form>

    {% endif %} {# end step 1 #}


    {% if step == "2" %}
        <fieldset>
            <legend>Step {{ step }}: Select Source</legend>
        </fieldset>

        <br />

    <ul class="nav nav-tabs">
        <li><a href="#upload-file-tab" data-toggle="tab">Upload File</a></li>
        <li><a href="#associate-file-tab" data-toggle="tab">Associate File</a></li>
        <li><a href="#print-barcode-tab" data-toggle="tab">Print Barcode</a></li>
    </ul>

    <form class="form-horizontal" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="tab-content">
            <div class="tab-pane" id="upload-file-tab">

                <fieldset>
                    <legend>Choose File</legend>
                    <div class="control-group">
                        <label class="control-label" for="fileInput">File input</label>
                        <div class="controls">
                            <input class="input-file" id="fileInput" type="file">
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
                </div>
            </div>

            <div class="tab-pane" id="associate-file-tab">
                <fieldset>
                    <legend>Choose File</legend>
                    <div class="control-group">
                        <label class="control-label" for="select01">Select uncategorized file</label>
                        <div class="controls">
                            <select id="select01">
                                <option>something</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
                </div>
            </div>

            <div class="tab-pane" id="print-barcode-tab">
                <fieldset>
                    <legend>Print Barcode</legend>

                    <div class="control-group">

                        <button class="btn">
                            <i class="icon-barcode"></i> Print Barcode
                        </button>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
                </div>
            </div>

        </div>


    </form>

    {% endif %} {# end step 2 #}

    {% if step == "3" %}
        <fieldset>
            <legend>Step {{ step }}: Confirmation</legend>
        </fieldset>

        <br />

        <div class="alert">
            <a class="close">×</a>
            <strong>Warning!</strong> Warnings go here. (eg creating a new parallel key)
        </div>


        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn"><i class="icon-chevron-left icon-whitex"></i> Back</button>
            <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Save</button>
        </div>
        </form>
    {% endif %} {# end step 3 #}

    {% if step == "4" %}
        <fieldset>
            <legend>Step {{ step }}: Thank you{# or print barcode if barcode required #}</legend>
        </fieldset>
        <br />
        <a class="btn btn-primary" href="{% url mdtui-index-1 %}">Start Again <i class="icon-chevron-right icon-white"></i></a>

    {% endif %} {# end step 4 #}

{% endblock %}

{% block css_extra %}
<style type="text/css">
    #results-table tbody tr.highlight { font-weight: bold; cursor: pointer; }
    #body-content {
        background-image: url("{{ STATIC_URL }}barcode-background.png");
        background-repeat: no-repeat;
        background-position: 100px 201px;
    }
</style>
{% endblock %}

{% block js_extra %}
<script type="text/javascript">
</script>
{% endblock %}
