{% extends "base.html" %}

{% block body_content %}
    <h1>{% block body_title %}Retrieval / View{% endblock %}</h1>

    {# NB: Might want to factor out these steps into separate templates. Done this way for simplicity #}

    {% if step == "1" %}
        <h2>Step 1: Please choose your function</h2>

        {#  list of doccodes by department #}
    {% endif %}

    {% if step == "2" %}
        <h2>Step 2: {{ xxxx }} Document Search</h2>

        {# document search form eg #}

        Document type

        DAte

        Key1

        Key 2

        Key 3

        Desc
    {% endif %}

    {% if step == "3" %}
        <h2>Step 3: View Results</h2>
    {% endif %}

    {% if step == "4" %}
        <h2>Step 4: View Document</h2>
    {% endif %}

{% endblock %}