{% extends "base.html" %}

{% block body_content %}
    <h1>{% block body_title %}Index / Upload{% endblock %}</h1>

    {# Use this for a progress / step indicator / navigation #}
    <ul class="nav nav-pills">
        <li class="active"><a href="#">Associate File</a></li>
        <li><a href="#">Index Details</a></li>
        <li><a href="#">Confirmation</a></li>
    </ul>


    {# NB: Might want to factor out these steps into separate templates. Done this way for simplicity #}

    {% if step == "1" %}
        <h2>Step 1: Associate File</h2>
    {% endif %}

    {% if step == "2" %}
        <h2>Step 2: Index Details</h2>
    {% endif %}

    {% if step == "3" %}
        <h2>Step 3: Confirmation</h2>
    {% endif %}

    {% if step == "4" %}
        <h2>Step 4: Thank you{# or print barcode if barcode required #}</h2>
    {% endif %}

{% endblock %}