{% extends "base.html" %}

{% load i18n %}

{% block title %}Document{% endblock %}

{% block content %}
<div id="ui_control_panel">
    <div id="ui_control_panel_left_side">
        <div id="ui_metadata">
            <h3>Metadata:</h3>
            <ul id="ui_metadata_list"></ul>
        </div>
        <div id="ui_revissions_filter">
            <h3>Revisions:</h3>
            <ul id="ui_revision_list"></ul>
        </div>
    </div>
    <div id="ui_control_panel_right_side">
        <div id="ui_document_manipulations">
            <form id="ui_delete_document_form" onsubmit="javascript:return false;">
                <input type="submit" name="delete" value="Delete document" />
            </form>
            <form id="ui_rename_document_form" onsubmit="javascript:return false;">
                <h3>Rename Document:</h3>
                <input type="text" id="ui_new_name_field" />
                <input type="submit" id="ui_rename_document_form_submit" name="rename" value="Go &rarr;" />
            </form>
        </div>
        <div id="ui_tags">
        <h4>Add a tag:</h4>
            <form id="ui_add_tags_form" onsubmit="javascript:return false;">
                <input type="text" name="tag" id="ui_add_tags_field" />
                <input type="submit" id="ui_add_tags_form_submit" name="save" value="Go &rarr;" />
            </form>
        <div id="ui_tags_view_item_list">
            <h3>Tags:</h3>
            <ul id="ui_tag_list"></ul>
        </div>
        </div><!--#ui_tags-->
	</div>
</div>
<div id="ui_document">DOCUMENT HERE</div>
{%endblock%}

{%block javascript%}
{{block.super}}
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    window.ui_communicator.document_init();
    window.ui_communicator.get_document_info();
    window.ui_communicator.get_document();
    });
</script>
{%endblock%}