{% extends "mdtui/base.html" %}

{% block body_content %}
    <h1>{% block body_title %}Document Search{% endblock %}</h1>

    {% if step != None %}
    {# Use this for a progress / step indicator / navigation #}
    <ul class="pager x-progress-tracker">
        {% url mdtui-search-1 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 1: Select Type &rarr;</a></li>
        {% url mdtui-search-2 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 2: Options &rarr;</a></li>
        {% url mdtui-search-3 as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 3: Results &rarr;</a></li>
        <li><a>Finished</a></li>
    </ul>
    {% endif %}

    {% if step == None %} {# This step will no long be visible #}
        <p>This is where it begins...</p>
        <a class="btn btn-primary btn-large" href="{% url mdtui-search-1 %}">Start <i class="icon-chevron-right icon-white"></i></a>
    {% endif %}

    {% if step == "1" %}

        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Step {{ step }}: Select Document Type</legend>
                {{ form }}
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
            </div>
        </form>
    {% endif %} {# end step 1 #}

    {% if step == "2" %}
        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Search Options</legend>

                <br />

                <div class="alert alert-error">
                    <a class="close">×</a>
                    <strong>Error!</strong> Form validation errors go here! (field validation errors go along each field below)
                </div>

{% comment %}
                <div class="control-group">
                    <label class="control-label" for="optionsCheckboxList">Document Types</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList1" value="option1">
                            Employee Forms
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList2" value="option2">
                            Legal Documents
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="optionsCheckboxList3" value="option3">
                            Tax Declarations
                        </label>
                        <p class="help-block"><strong>Note:</strong> Specify document types or leave blank to search all types.</p>
                    </div>
                </div>
{% endcomment %}

                {# NB, these date selectors could be better done. Eg see http://addyosmani.github.com/jquery-ui-bootstrap/ #}
                <div class="control-group">
                    <label class="control-label" for="dateselect_from">From Date</label>
                    <div class="input">
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                                <input data-datepicker="datepicker" class="input-medium" type="text" value="" id="dateselect_from" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="dateselect_to">To Date</label>
                    <div class="input">
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                                <input data-datepicker="datepicker" class="input-medium" type="text" value="" id="dateselect_to" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Key 1 Label</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="input01">
                        <p class="help-block">Key 1 Desc</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Key 2 Label</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="input02">
                        <p class="help-block">Key 2 Desc</p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="input01">Key 3 Label</label>
                    <div class="controls">
                        <input type="text" class="input-medium" id="input03">
                        <p class="help-block">Key 3 Desc</p>
                    </div>
                </div>

            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger"><i class="icon-repeat icon-white"></i> Reset</button>
                <button type="submit" class="btn btn-primary">Search <i class="icon-search icon-white"></i></button>
            </div>
        </form>
    {% endif %}

    {% if step == "3" %}
        <fieldset>
            <legend>Results</legend>
        </fieldset>

        <table class="table table-striped" id="results-table">
            <caption>(Details of search query parameters)</caption>
            <thead>
                <tr>
                    <th>View</th>
                    <th><a href="{# sort on this#}">Date</a></th>
                {% for index, desc in mdt_indexes.items %}
                    <th><a href="{# sort on this#} {{ index }}">{{ desc }}</a></th>
                {% endfor %}
                    <th><a href="{# sort on this#}">Type</a></th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
            {% for doc in documents %}
                <tr>
                    <td><a href="http://slashdot.org/" title="View Document"><i class="icon-download"></i></a></td>
                    <td>{{ doc.date }}</td>
                    {% for index, desc in mdt_indexes.items %}
                        <td>{{ doc.mdt_indexes.index }} {# FIXME, wrong syntax #}</td>
                    {% endfor %}
                    <td>…</td>
                    <td>{# Admin only #}<a href="" title="Edit Metadata"><i class="icon-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr />


        {% for doc in documents %}
            <p>{{ doc.id }} :
                {% for key, value in doc %}
                <br />{{ key }} = {{ value }}
                {% endfor %} </p>
            <hr />
        {% endfor %}


        {# Let's use pagination like this #}
        <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        
        <a href="" title="Download Results to CSV" class="btn"><i class="icon-download-alt"></i> Export Results</a>

    {% endif %}

    {% if step == "4" %}
        <h2>Step 4: View Document</h2>
        {# don't actually display this step, just pop up a document. #}
    {% endif %}

{% endblock %}

{% block css_extra %}
    <style type="text/css">
        #results-table tbody tr.highlight { font-weight: bold; cursor: pointer; }
        #body-content {
            background-image: url("{{ STATIC_URL }}search-background.png");
            background-repeat: no-repeat;
            background-position: 100px 166px;
        }
    </style>
{% endblock %}

{% block js_extra %}
    {% if step == "2" %}
    <script type="text/javascript">
        $(function() {
            // Hide the first cell for JavaScript enabled browsers.
            //$('#link-table td:first-child').hide();

            // Apply a class on mouse over and remove it on mouse out.
            $('#results-table tbody tr').hover(function() {
                $(this).toggleClass('highlight');
            });

            // Assign a click handler that grabs the URL
            // from the first cell and redirects the user.
            $('#results-table tbody tr').click(function() {
                location.href = $(this).find('td a').attr('href');
            });
        });

    </script>
    {% endif %}
{% endblock %}