
/* root element for tabs  */
ul.tabs {
	list-style:none;
	padding:0;
	border-bottom:1px solid #666;
	height:30px;
}

/* single tab */
ul.tabs li {
	float:left;
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
	font-size:11px;
	display:block;
	height: 30px;
	line-height:30px;
	width: 134px;
	text-align:center;
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;
	position:relative;
	top:1px;
}

ul.tabs a:active {
	outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -420px -31px;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -420px -62px;
	cursor:default !important;
	color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -248px -31px; }
ul.tabs a.l.current  { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
	display:none;
}

table				{font: 88%/1.7em "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
					border-collapse: separate; border-spacing: 0; margin: 0 0 1em 0; color:#000;}

th			{border-bottom: 1px solid #999;border-top: 1px solid #999;}
td			{line-height:normal; border-bottom: 1px solid #e1e1e1;}

th,
td 					{padding: 0.25em;}

td					{text-align: left; vertical-align: top;}
tbody th			{font-weight: normal; white-space: nowrap;}

tbody th + td		{white-space: nowrap;}

tbody tr.odd th,
tbody tr.odd td 	{border-color: #deded8; background: #f9f9fb;}

tbody tr:hover td,
tbody tr:hover th 	{background: #fbfbf8;}
caption 			{font-weight: bold; font-size: 1.7em; text-align: left; margin: 0; padding: 0.5em 0.25em;}



table td {
    padding:10px;
}

table td ul {
    margin:0px;
}

body {
    font-family:"Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}

.hide {
    display:none;
}

#rules {
    margin-top:30px;
}

h2 {
    border-bottom:1px solid #e1e1e1;
}

