.float-left{
    float: left;
}
/******************************/
ul#ui_breadcrumbs, ul#ui_document_list, #ul.ui_pager{
    list-style-type: none;
}

ul#ui_breadcrumbs li{
    display: inline-block;
}

ul#ui_pager{
    list-style-type: none;
    clear: both;
}

ul#ui_pager li{
    display: inline-block;
    margin: 1px;
    width: 26px;
    height: 26px;
}

#ui_document_list{
    height: 500px;
    overflow: auto;
}

#ui_document_list li{
    width: 120px;
    height: 100px;
    border: 2px solid #333;
    margin: 15px;
    float: left;
}

#ui_control_panel{
    width: 200px;
    border: 2px solid #333;
    float: right;
    margin: 15px;
    margin-right: 1px;
}

#ui_upload_file_form{
    float: right;
}

/* Delete buttons decoration */
.ui_delete_revision_link,
.ui_delete_tag_link {
    margin-left: 5px;
    color:red;
    text-transform:lowercase;
    border: 1px solid black;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

.ui_delete_revision_link:hover, 
.ui_delete_tag_link:hover {
    
}
/* END-------------------------------------------------*/

#ui_revision_list,
#ui_metadata_list,
#ui_tag_list {
    list-style: none;
    margin-left: 0px;
}

#ui_tag_list span,
#ui_tag_list li a {
	border: 1px solid black;
	padding: 0 4px 0 4px;
	text-decoration: none;
}

#ui_tags,
#ui_rename_document_form,
#ui_delete_document_form {
	margin-left: 25px;
}

#ui_new_name_field, 
#ui_add_tags_field,
#ui_search_field {
	width: 100px;
}

/* UI restyle document body */
#ui_document iframe {
    width: 470px;
    height: 750px;
}