ul#ui_breadcrumbs, ul#ui_document_list, #ul.ui_pager{
    list-style-type: none;
}

ul#ui_breadcrumbs li{
    display: inline-block;
}

ul#ui_pager{
    list-style-type: none;
    clear: both;
}

ul#ui_pager li{
    display: inline-block;
    margin: 5px;
}

#ui_document_list{
    height: 500px;
    overflow: auto;
}

#ui_document_list li{
    width: 120px;
    height: 100px;
    border: 2px solid #333;
    margin: 15px;
    float: left;
}

#ui_control_panel{
    width: 200px;
    border: 2px solid #333;
    float: right;
    margin: 15px;
}