ul#ui_breadcrumbs{
    list-style-type: none;
}

ul#ui_breadcrumbs li{
    display: inline-block;
}

ul#ui_document_list{
    list-style-type: none;
}

#ui_document_list li{
    width: 120px;
    height: 100px;
    padding: auto;
    border: 2px solid #333;
    margin: 15px;
    float: left;
}