<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <th>No</th>
        <th>DocCode</th>
        <th>Storage</th>
        <th>Splitter</th>
        <th>HashCode</th>
        <th>Active</th>
        <th>Edit</th>
    </tr>
    {% for rule in rule_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rule.validator}} - {{ rule.get_validator.description }}</td>
        <td>{{ rule.storage }}</td>
        <td>{{ rule.splitter }}</td>
        <td>
        {% if rule.is_hash_active %}
          {{ rule.hashcode }}(active)
        {% else %}
          {{ rule.hashcode }}(disabled)
        {% endif %}
        </td>
        <td>{{ rule.active }}</td>
        <td><a href="{% url edit_setting rule.id %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
<h2>Add new rule</h2>
<form action="" method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Continue &rarr;" /></p>
</form>

