{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <th>No</th>
        <th>DocCode Validator</th>
        <th>Storage</th>
        <th>Securities</th>
        <th>Validators</th>
        <th>Active</th>
        <th>Edit</th>
    </tr>
    {% for rule in rule_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rule.get_doccode.name }} - {{ rule.get_doccode.description }}</td>
        <td>{{ rule.get_storage.name }}</td>
        <td>
        <ul>
        {% for security in rule.get_securities %}
          <li>
          {% if security.active %}
            {{ security.name }}(active)
          {% else %}
            {{ security.name }}(disabled)
          {% endif %}
          </li>
        {% empty %}
          <li>None</li>
        {% endfor %}
        </ul>
        </td>
        <td>
        <ul>
        {% for validator in rule.get_validators %}
          <li>
          {% if validator.active %}
            {{ validator.name }}(active)
          {% else %}
            {{ validator.name }}(disabled)
          {% endif %}
          </li>
        {% empty %}
          <li>None</li>
        {% endfor %}
        </ul>
        </td>
        <td>{{ rule.active }}</td>
        <td><a href="{% url edit_setting rule.id %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
<h2>Add new rule</h2>
<form action="" method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Continue &rarr;" /></p>
</form>

