# Example custom settings for Adlibre DMS

# Turn off demo
DEMO = False
DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = (
#('Admin', 'admin@example.com'),
)
MANAGERS = ADMINS

# Enable Compress
COMPRESS_ENABLED = True

# Make this unique, and don't share it with anybody.
#SECRET_KEY = 'change me'

# specific timezone settings
TIME_ZONE = None

# remove fcgi script name from url (lighttpd)
FORCE_SCRIPT_NAME = ''

# Email Settings Overrides
DEFAULT_FROM_EMAIL = 'dms@example.com'

COUCHDB_DATABASES = (
    ('dmscouch', 'http://127.0.0.1:5984/dmscouch'),
    ('mdtcouch', 'http://127.0.0.1:5984/mdtcouch'),
)
