/* Base */

* {
    margin:0px;
    padding:0px;
}

html, body {
    height: 100%;
}

img { border: 0; }

/* HTML Redefines */

table{width:100%; table-layout:auto; border-collapse:collapse;}
	table th{text-align:left; color:#fff; text-shadow:1px 1px 1px #D48E3E; background-color:#F9A749; border-right:1px solid #fff;}
	table th,
	table td{padding-left:15px; height:34px; vertical-align:middle; line-height:120%;}
	table td{border-top:1px solid #EBEBEC; font-size:13px; color:#3B3F41;}
	table th.first{background:#F9A749 url(table-rounded-left.jpg) 0 0 no-repeat;}
	table th.last{background:#F9A749 url(table-rounded-right.jpg) 100% 0 no-repeat; border:none;}	
	table tr:hover td{background-color: rgba(245,245,245,0.4);}
	table a:link{color:#3B3F41;}
	table tr:hover a:link {color:#E78107;}
	table ul{margin:0; list-style-position:inside;}

body {
    font-family:Arial, Helvetica, Tahoma, sans-serif;
    line-height:1.5;
    color: #3B3F41;
	font-size:14px;
    background-image: url(brushed_alu.png);
}

a:link {color:#E78107; text-decoration: underline; outline: none;}
a:visited {color:#E78107; text-decoration: underline; outline: none;}
a:hover {text-decoration: none;	}
a:active {color:#E78107; text-decoration: underline; outline: none;}

h1, h2, h3, h4, h5{font-weight:normal; color:#3B3F41;}
h1{font-size:24px;}
h2{font-size:24px;}
h3{font-size:17px;}
h4{font-size:15px;}	

ul, ol {
	margin:10px 0 15px 20px;
}

p{margin-bottom:15px;}


option {
    padding:0px 4px;
}


/* Custom Styles */

#page_wrapper {
    position:relative;
	margin:0 auto;
	min-width:760px;
	width:760px;
}

#container {
	height:300px;
	height:auto !important;
	min-height:300px;
    padding:25px 0; /* prevent overlap with footer */
}

#content {overflow:hidden;}

#footer {
	padding-top:20px;
	text-align:center;
	border-top:2px solid #E9EAEA;	
}

#footer p {
    padding-left: 10px;
    padding-right: 10px;
}
#footer span {
    color: #EFEFEF;
    float: right;
}

label {
    display:block;
}

#upload-page {
    text-align:center;
    margin:150px 0px;
}


#upload-page form {

}


#rules {
    margin-top:15px;
}

#rules th.last{width:70px;}

#settings{margin-top:15px;}
#settings ul { list-style:none; }
#settings th.first,
#settings th.last{width:40px;}
#settings th.first{padding-left:15px;}
#settings th,
#settings td{padding:5px;}

#settings ul {padding: 5px;}
#settings ul li{padding-left: 15px;}

.hide {
    display:none;
}


/* new */

#logo_wrapper {
	padding:30px 0 0 10px;
	height:82px;
}

#header {
	
}

#menu {
	height:35px;
	line-height:35px;
	background:url(bg-menu.png) 0 0 repeat-x;
	border-color:#2B2E30 #18191A #010101 #18191A;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	-moz-border-radius:5px;	
	-webkit-border-radius:5px;	
	box-shadow:3px 3px 0 #E2E2E3;
	-moz-box-shadow:3px 3px 0 #E2E2E3;
	-webkit-box-shadow:3px 3px 0 #E2E2E3;		
}

#menu ul {margin:0; overflow:hidden; list-style:none;}
	#menu ul li {float:left;}
		#menu ul li a{float:left; padding:0 20px; height:35px; line-height:35px; font-size:14px; text-decoration:none; border-right:1px solid #2C2F31; border-left:1px solid #4A4E50; color:#d3d3d3; text-shadow:0 -1px 1px #000;}
		#menu ul li.active a,		
		#menu ul li a:hover {text-decoration:none; background:url(bg-menu-active.png) 0 0 repeat-x;}

/* Try demo */
#try-demo{overflow:hidden;}
	#try-demo .text{float:left; padding:0 25px 0 15px; width:400px;}
	
	/* Login */
	#login{
		padding:10px 15px;
		width:288px;
		background-color:#3D4143;
		border-color:#2B2E30 #18191A #010101 #18191A;
		border-width:1px;
		border-style:solid;
		border-radius:5px;
		-moz-border-radius:5px;	
		-webkit-border-radius:5px;	
		box-shadow:3px 3px 0 #E2E2E3;
		-moz-box-shadow:3px 3px 0 #E2E2E3;
		-webkit-box-shadow:3px 3px 0 #E2E2E3;				
		}
		
		#login .line{margin-bottom:10px;}
			#login label{padding-left:5px; color:#fff;}
			#login .input{padding:0 10px; width:270px; height:39px; line-height:39px; border:none; background:url(bg-inputs.png) 0 0 no-repeat;}
			#login .buttons{padding:5px 0; text-align:center;}
                #login .submit{width:203px; height:44px; border:none; cursor:pointer; background:url(btn-blank.png) 0 0 no-repeat; font-size: 16px; font-style:italic; font-weight: bold; color:#3B3F41; text-shadow: #FAC659 1px 0px 1px;}

/* selected pages */
.home #menu .home a,
.files #menu .files a,
.settings #menu .settings a,
.plugins #menu .plugins a,
.login #menu .login a
{
    border-top:4px solid #F7931E;
    height: 24px;
    line-height:24px;
}

.alignleft{float:left;}
.alignright{float:right; } /*margin:0 0 10px 20px;*/

#content p,
#content h1,
#content h2,
#content h3,
#content h4,
#content ul{padding-left:15px;}

/* Upload files form */
#ui_upload_file_form, 
#upload-page form {
    background-color: #3D4143;
    border-color: #2B2E30 #18191A #010101;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 0 #E2E2E3;
    padding: 10px 15px;
    width: 555px;
}

#upload-page {
    margin: 120px auto;
}

#upload_file_fake_filename {
    background: url("bg-inputs.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    width: 270px;
}

#ui_upload_file_form_name {
    font-size: 24px;
    color: white;
    height: 39px;
    line-height: 39px;
}

#upload_file_fake_browse, 
#ui_upload_file_submit {
    /* IE10 */ 
    background-image: -ms-linear-gradient(bottom, #E78107 0%, #F9A749 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #E78107 0%, #F9A749 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #E78107 0%, #F9A749 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E78107), color-stop(1, #F9A749));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #E78107 0%, #F9A749 100%);
    /* Proposed W3C Markup */ 
    background-image: linear-gradient(bottom, #E78107 0%, #F9A749 100%);
    border-color: #2B2E30 #18191A #010101;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: #3B3F41;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    height: 33px;
    text-shadow: 1px 0 1px #FAC659;
}

#upload_file_fake_browse:hover, 
#ui_upload_file_submit:hover {
    /* IE10 */ 
    background-image: -ms-linear-gradient(bottom, #FFFCF7 0%, #FF9A26 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #FFFCF7 0%, #FF9A26 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #FFFCF7 0%, #FF9A26 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFCF7), color-stop(1, #FF9A26));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #FFFCF7 0%, #FF9A26 100%);
    /* Proposed W3C Markup */ 
    background-image: linear-gradient(bottom, #FFFCF7 0%, #FF9A26 100%);
}
