{% extends THEME_TEMPLATE %}

{% load i18n %}

{% block title %}Welcome{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}

{% if DEMO %}
<div id="try-demo">
    <div class="text">
        <h1>Adlibre DMS</h1>
        <p>This is a fully functioning demonstration instance of Adlibre DMS - The lightweight document and media management system for the cloud.</p>
        {% if not user.is_authenticated %}
        <h2>Try Demo</h2>
        <p>You can login to the administrative functions with the following credentials:</p>
        <ul>
            <li>Username: <em>admin</em></li>
            <li>Password: <em>admin</em></li>
        </ul>
        {% endif %}
        <p>This instance refreshes every 30 minutes. So feel free to make changes to the configuration or upload documents using the sample <a href="/upload/">form</a> or via the webservices <a href="/docs/api/">API</a>.</p>
        <p>Please let us know your <a href="http://www.adlibre.com.au/contact/">feedback</a>.</p>
    </div>
    {% if not user.is_authenticated %}
    <div class="alignright">
        {% include "registration/loginform.html" %}
    </div>
    {% else %}
        <img src="{{ STATIC_URL }}browser/cloud.png" width="317" height="289" class="" style="padding-bottom:20px;" />
    {% endif %}
</div>
{% else %}
    {# not a demo #}
    <img src="{{ STATIC_URL }}browser/cloud.png" width="317" height="289" class="alignright" />
    <h1>Adlibre DMS</h1>
    <p>The lightweight document and media management system for the cloud.</p>
    <p>Select a menu option to continue.</p>
{% endif %}

{% endblock %}
