{% extends "registration/proxy.html" %}

{% load i18n %}

{% block title %}Password reset{% endblock %}

{% block pagetitle %}Password reset{% endblock %}

{% block content %}
    {% if validlink %}
    <h1>Password reset</h1>
    <div id="login">
        <form action="" method="post">
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

            {% csrf_token %}

            <p>{{ form.new_password1.errors }}{{ form.new_password2.errors }}</p>

            <dl class="line">
                <dt><label for="id_new_password1">{% trans 'New password:' %}</label></dt>
                <dd><input id="id_new_password1" type="password" name="new_password1" value="" class="input" autocomplete="off" /></dd>
            </dl>

            <dl class="line">
                <dt><label for="id_new_password2">{% trans 'Confirm password:' %}</label></dt>
                <dd><input id="id_new_password2" type="password" name="new_password2" value="" class="input" autocomplete="off" /></dd>
            </dl>

            <div class="buttons">
                <input type="submit" value="{% trans 'Change my password' %}" class="submit" />
            </div>

        </form>
    </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}