{% extends 'site_base.html' %}
{% load i18n %}

{% block theme_css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/{{ THEME_NAME }}/style.css" />
{% endblock %}

{% block logo %}{% endblock %}

{% block header %}
    <span><a href="{% url "home" %}">{% trans 'Home' %}</a></span>
    {% if user.is_authenticated %}
        {% trans 'Loggin in as' %} {{ user }}

        {% if user.is_staff %}
            &middot; <a href="{% url "files_index" %}">{% trans 'Files' %}</a>
            &middot; <a href="{% url "setting" %}">{% trans 'Settings' %}</a>
            &middot; <a href="{% url "plugins" %}">{% trans 'Plugins' %}</a>
        {% endif %}
            &middot; <a href="{% url "mdtui-home" %}">{% trans 'MUI' %}</a>
            &middot; <a href="{% url "logout" %}">{% trans 'Log out' %}</a>
    {% else %}
            {% trans 'Logged out' %}
            &middot; <a href="{% url "login" %}">{% trans 'Log in' %}</a>
    {% endif %}

{% endblock %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}
