<script type="text/javascript">

    $(document).ready(function(){

        /* Silently store barcode once */
        function store_barcode(btn_id) {
            // Checking if barcode should be submitted
            var barcode_stored = $('div#barcode_stored').attr('stored');
            if (barcode_stored == 'stored') {
                alert('Barcode already stored!');
            } else {
                var barcode_url = $('form#barcode-print-form').attr('action');
                var csrf = $('input[name=csrfmiddlewaretoken]').attr('value');
                $.ajax({
                    url: barcode_url,
                    data: { printed: "printed", csrfmiddlewaretoken: csrf },
                    type: "POST",
                    complete: function (data) {
                        if(data.status == 500) {
                            alert(data.responseText);
                        } else {
                            // barcode data saved. Remove ability to store again.
                            $('div#barcode_stored').attr('stored', 'stored');
                        }
                    }
                });
            }
            return false;
        }

        /* Print Barcode with the url */
        function printBarcode() {
            url = '{% url bcp-print "Code128" barcode %}'
            $('#printer').attr("src", url);
            store_barcode();
            return false;
        }

        function deleteRevision(btn_id) {
            var del_url = $('div#delete-url').attr('data-id');
            var csrf = $('input[name=csrfmiddlewaretoken]').attr('value');
            $('.revision-working-image-'+btn_id).show();
            $.ajax({
                url: del_url,
                data: { revision: btn_id, csrfmiddlewaretoken: csrf },
                type: "POST",
                complete: function (data) {
                    if(data.status == 500) {
                        alert(data.responseText);
                    } else {
                    document.location.reload();
                    }
                }
            });

            return false;
        }

        /* Autoprint barcode */
        $('#printModal').on('show',function(){
            printBarcode();
        });

        /* bind print barcode to appropriate buttons */
        $('.btn-print-barcode').on('click', function(e){
            e.preventDefault();
            printBarcode();
        });

        /* Make the link act as a submit button on upload form */
        $('#file-upload-submit').on('click', function(e){
            e.preventDefault();
            $('#file-upload-form').submit();
        });

        /* Make the link act as a submit button on Delete code form */
        $('#file-delete-submit').on('click', function(e){
            e.preventDefault();
            $('#file-delete-form').submit();
        });

        /* IE, make the file upload modal larger and the file input bigger */
        if ($.browser.msie) {
            /* Show the name of the file to be uploaded under the file upload box */
            $('#id_file').change(function(e){
                var filename = $(this).val().replace(/C:\\fakepath\\/i, '')
                $in=$(this);
                $in.next().html(filename);
            });
            $('#id_file').attr('class', 'input-xxlarge');
        }

        /* Make the link act as a submit button on Delete code form, preventing double submit */
        $('.revision-delete-btn').on('click', function(e){
            e.preventDefault();
            var id = $(this).attr('data-id');
            deleteRevision(id);
            this.attr('disabled', true);
        });

        /* Prevent file upload double submit */
        $('#file-upload-form').on('submit', function(e){
            $('#file-upload-submit').attr('disabled', true);
            $('#file-upload-cancel').attr('disabled', true);
        });

        /* Prevent file Delete double submit */
        $('#file-delete-form').on('submit', function(e){
            $('#file-delete-submit').attr('disabled', true);
            $('#file-delete-cancel').attr('disabled', true);
            $('#delete-working-image').show();
        });

        /* show filemodal if there are alerts */
        if ($('#fileModal .alert').length) {
            $('#fileModal').modal('show');
        }

    });

</script>
