<script type="text/javascript">

    /* Print Barcode with the url */
    function printBarcode() {
        url = '{% url bcp-print "Code128" barcode %}'
        $('#printer').attr("src", url);
        return false;
    }

    $(document).ready(function(){
        /* Autoprint barcode */
        $('#printModal').on('show',function(){
            printBarcode();
        });

        /* bind print barcode to appropriate buttons */
        $('.btn-print-barcode').on('click', function(e){
            e.preventDefault();
            printBarcode();
        });

        /* Make the link act as a submit button on upload form */
        $('#file-upload-submit').on('click', function(e){
            e.preventDefault();
            $('#file-upload-form').submit();
        });

        /* Make the link act as a submit button on barcode form */
        $('#barcode-print-submit').on('click', function(e){
            e.preventDefault();
            $('#barcode-print-form').submit();
        });

        /* IE, make the file upload modal larger and the file input bigger */
        if ($.browser.msie) {
            /* Show the name of the file to be uploaded under the file upload box */
            $('#id_file').change(function(e){
                var filename = $(this).val().replace(/C:\\fakepath\\/i, '')
                $in=$(this);
                $in.next().html(filename);
            });
            $('#id_file').attr('class', 'input-xxlarge');
        }

        /* Prevent file upload double submit */
        $('#file-upload-form').on('submit', function(e){
            $('#file-upload-submit').attr('disabled', true);
            $('#file-upload-cancel').attr('disabled', true);
        });

        /* show filemodal if there are alerts */
        if ($('#fileModal .alert').length) {
            $('#fileModal').modal('show');
        }

    });
</script>