<script type="text/javascript">

    /* Print Barcode with the url */
    function printBarcode() {
        url = '{% url bcp-print "Code128" barcode %}'
        $('#printer').attr("src", url);
        return false;
    };

    function deleteRevision(btn_id) {
        var del_url = $('div#delete-url').attr('data-id');
        var csrf = $('input[name=csrfmiddlewaretoken]').attr('value');
        $('.revision-working-image-'+btn_id).show();
        $.ajax({
            url: del_url,
            data: { revision: btn_id, csrfmiddlewaretoken: csrf },
            type: "POST",
            complete: function (data) {
                if(data.status == 500) {
                    alert(data.responseText);
                } else {
                document.location.reload();
                };
            }
        });

        return false;
    };

    $(document).ready(function(){
        /* Autoprint barcode */
        $('#printModal').on('show',function(){
            printBarcode();
        });

        /* bind print barcode to appropriate buttons */
        $('.btn-print-barcode').on('click', function(e){
            e.preventDefault();
            printBarcode();
        });

        /* Make the link act as a submit button on upload form */
        $('#file-upload-submit').on('click', function(e){
            e.preventDefault();
            $('#file-upload-form').submit();
        });

        /* Make the link act as a submit button on barcode form */
        $('#barcode-print-submit').on('click', function(e){
            e.preventDefault();
            $('#barcode-print-form').submit();
        });

        /* Make the link act as a submit button on Delete code form */
        $('#file-delete-submit').on('click', function(e){
            e.preventDefault();
            $('#file-delete-form').submit();
        });

        /* IE, make the file upload modal larger and the file input bigger */
        if ($.browser.msie) {
            /* Show the name of the file to be uploaded under the file upload box */
            $('#id_file').change(function(e){
                var filename = $(this).val().replace(/C:\\fakepath\\/i, '')
                $in=$(this);
                $in.next().html(filename);
            });
            $('#id_file').attr('class', 'input-xxlarge');
        }

        /* Make the link act as a submit button on Delete code form, preventing double submit */
        $('.revision-delete-btn').on('click', function(e){
            e.preventDefault();
            var id = $(this).attr('data-id');
            deleteRevision(id);
            this.attr('disabled', true);
        });

        /* Prevent file upload double submit */
        $('#file-upload-form').on('submit', function(e){
            $('#file-upload-submit').attr('disabled', true);
            $('#file-upload-cancel').attr('disabled', true);
        });

        /* Prevent file Delete double submit */
        $('#file-delete-form').on('submit', function(e){
            $('#file-delete-submit').attr('disabled', true);
            $('#file-delete-cancel').attr('disabled', true);
            $('#delete-working-image').show();
        });

        /* show filemodal if there are alerts */
        if ($('#fileModal .alert').length) {
            $('#fileModal').modal('show');
        }

    });

/*
 /////////////////////////////////////////////////////////////////////////////////////////////////

                              Upload progress handler scripts

/////////////////////////////////////////////////////////////////////////////////////////////////
 */

    // Generate 32 char random uuid
    function gen_uuid() {
        var uuid = ""
        for (var i=0; i < 32; i++) {
            uuid += Math.floor(Math.random() * 16).toString(16);
        }
        return uuid
    }

    // Add upload progress for multipart forms.
    $(function() {
        $('#file-upload-form').submit(function(){
            // Prevent multiple submits
            if ($.data(this, 'submitted')) return false;
            $('#uploading-image').show();
            // TODO: Implement this in (maybe) some other way
/*
            var freq = 1000; // freqency of update in ms
            var uuid = gen_uuid(); // id for this upload so we can fetch progress info.
            var progress_url = '{% url mdtui-upload-progress %}'; // ajax view serving progress info

            // Append X-Progress-ID uuid form action
            this.action += (this.action.indexOf('?') == -1 ? '?' : '&') + 'X-Progress-ID=' + uuid;

            var $progress = $('<div id="upload-progress" class="upload-progress"></div>').appendTo(document.body).html('<div class="progress-container"><span class="progress-info">uploading 0%</span><div class="progress-bar"></div></div>');

            // progress bar position
            $progress.css({
                position: ($.browser.msie && $.browser.version < 7 )? 'absolute' : 'fixed',
                left: '50%', marginLeft: 0-($progress.width()/2), bottom: '20%'
            }).show();

            // Update progress bar
            function update_progress_info() {
                $progress.show();
                $.getJSON(progress_url, {'X-Progress-ID': uuid}, function(data, status){
                    if (data) {
                        var progress = parseInt(data.uploaded) / parseInt(data.length);
                        var width = $progress.find('.progress-container').width()
                        var progress_width = width * progress;
                        $progress.find('.progress-bar').width(progress_width);
                        $progress.find('.progress-info').text('uploading ' + parseInt(progress*100) + '%');
                    }
                    window.setTimeout(update_progress_info, freq);
                });
            };
            window.setTimeout(update_progress_info, freq);
*/
            $.data(this, 'submitted', true); // mark form as submitted.
        });
    });
</script>
