{% extends "mdtui/base.html" %}
{% load i18n %}
{% load index_keys %}
{% load widget_tweaks %}

{% block body_content %}

    <h1 id="page-heading">{% block body_title %}{% trans 'Document Indexing' %}{% endblock %}</h1>

    {% if step != None %}
    {# Use this for a progress / step indicator / navigation #}
    <ul class="pager x-progress-tracker">
        {% url mdtui-index-type as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">{% trans 'Step 1: Select Type' %} &rarr;</a></li>
        {% url mdtui-index-details as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">{% trans 'Step 2: Index Details' %} &rarr;</a></li>
        {% url mdtui-index-source as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">{% trans 'Step 3: Select Source' %} &rarr;</a></li>
        {% url mdtui-index-finished as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">{% trans 'Step 4: Finish' %}</a></li>
    </ul>
    {% endif %}

    {% block custom_branding %}{% endblock %}

    {# WARNINGS HANDLER #}
    {% for warning in warnings %}
    <div class="alert">
        <a class="close">×</a>
        <strong>{{ warning }}</strong>
    </div>
    {% endfor %}

    {% if step == "1" %}
        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Step {{ step }}: Select Document Type</legend>
            {{ form }}
            </fieldset>

            <div class="form-actions">
                <button type="reset" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
            </div>
        </form>
    {% endif %} {# end step 1 #}

    {% if step == "2" %}
        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Step {{ step }}: {% if request.session.indexing_docrule_id %}{% get_docrule_name_by_id request.session.indexing_docrule_id %}{% endif %} Index Details</legend>
                <br />
                {# INDEX DETAILS FORM RENDERING #}
                {# Form non field errors dummy #}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <a class="close">×</a>
                        <strong>{{ error.message }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                {# Form fields #}
                {% if not field|field_type = "DateField" %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {% if not field.value and field.field.initial %}
                        {# Taking field initial data for dynamic fields #}
                        <input id="{{ field.id_for_label }}" class="input-xxlarge" type="text" maxlength="{{ field.field.max_length }}" value="{{ field.field.initial }}" name="{{ field.name }}">
                        {% else %}
                            {# Normal field rendering #}
                        {{ field|attr:'class:input-xxlarge' }}
                        {% endif %}
                        {%  if field.errors %}
                        {%  for message in field.errors.messages %}
                        <span class="help-inline">
                            <strong>{{ message }}</strong>
                        </span>
                        {%  endfor %}
                        {%  endif %}
                        <p class="help-block">{{ field.help_text }}</p>
                    </div>
                </div>
                {% else %}
                <div class="control-group{%  if field.errors %} error{%  endif %}">
                    <label class="control-label" for="dateselect">{{ field.label }}</label>
                    <div class="input">
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                                <input id="id_date" type="text" value="{% if field.value|date:'Y-m-d' %}{{ field.value|date:'Y-m-d' }}{% else %}{% if field.value %}{{ field.value }}{% endif %}{% endif %}" name="{{ field.name }}" class="input-medium" data-datepicker="datepicker">
                                {%  if field.errors %}
                                {%  for message in field.errors.messages %}
                                <span class="help-inline">
                                    <strong>{{ message }}</strong>
                                </span>
                                {% endfor %}
                                {% endif %}
                                <p class="help-block">{{ field.help_text }}</p>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
                {% endfor %}

            </fieldset>

            <div class="form-actions">
                <button type="reset" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
            </div>
        </form>
    {% endif %} {# end step 2 #}

    {% if step == "3" %}
        <fieldset>
            <legend>Step {{ step }}: Select Source{% if request.session.indexing_docrule_id %} for {% get_docrule_name_by_id request.session.indexing_docrule_id %}{% endif %}</legend>
        </fieldset>

        {% if document_keys %}
            <p>{% trans 'Your documents indexes:' %}</p>

            <ul class="metainfo">
                <li>Barcode: {{ barcode }}</li>
                {% for item in document_keys %}
                    <li>{% get_key_li_item document_keys item %}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <h4>{% trans 'Choose document source:' %}</h4>

    <div class="row">
        <div class="span3" style="text-align: center;">
            <a href="#fileModal" data-toggle="modal"><img src="{{ STATIC_URL }}upload.png" /></a>
            <p><a href="#fileModal" data-toggle="modal" class="btn"><i class="icon-upload"></i> {% trans 'Upload File' %}</a></p>
        </div>
        <div class="span3" style="text-align: center;">
            <a href="#printModal" data-toggle="modal"><img src="{{ STATIC_URL }}printer.png" /></a>
            <p><a href="#printModal" data-toggle="modal" class="btn"><i class="icon-print"></i> {% trans 'Print Barcode' %}</a></p>
        </div>
    </div>

    <div class="modal hide" id="printModal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>{% trans 'Print Barcode' %}</h3>
        </div>
        <div class="modal-body">
            <form id="barcode-print-form" class="" enctype="multipart/form-data" action="{{ request.path }}?barcoded" method="post">
                {% csrf_token %}
                {% for field in barcode_form %}
                    {{ field }}
                {% endfor %}
            </form>
            {% blocktrans %}
            <p>Please wait for the barcode to print.</p>
            <p>After printing you may continue.</p>
            <p>Click <a href="#" class="btn-print-barcode">here</a> if you need to reprint.</p>
            {% endblocktrans %}
        </div>
        <iframe src="" id="printer" style="visibility: hidden;" width="0" height="0"></iframe>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="barcode-print-submit">{% trans 'Continue' %} <i class="icon-chevron-right icon-white"></i></a>
            <a href="#" class="btn btn-primary btn-print-barcode">{% trans 'Reprint' %}</a>
            <a href="#myModal" class="btn btn-danger" data-dismiss="modal"><i class="icon-trash icon-white"></i> {% trans 'Cancel' %}</a>
        </div>
    </div>

    <div class="modal hide bigmodal" id="fileModal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>{% trans 'Upload File' %}</h3>
        </div>
        <div class="modal-body">
            <form id="file-upload-form" class="form-horizontal well" enctype="multipart/form-data" action="{{ request.path }}?uploaded" method="post">
                {% csrf_token %}
                <fieldset>
                    {% for field in upload_form %}
                    <div class="control-group">
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="alert alert-error">
                            <a class="close">×</a>
                            <strong>{{ error }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            <p class="help-block">{{ field.help_text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </fieldset>
            </form>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="file-upload-submit">{% trans 'Continue' %} <i class="icon-chevron-right icon-white"></i></a>
            <a href="#myModal" class="btn btn-danger" data-dismiss="modal" id="file-upload-cancel"><i class="icon-trash icon-white"></i> {% trans 'Cancel' %}</a>
        </div>
    </div>

    {% endif %} {# end step 3 #}

    {% if step == "4" %}
        <fieldset>
            <legend>Step {{ step }}: Finished{# or print barcode if barcode required #}{% if docrule_id %} Indexing {% get_docrule_name_by_id docrule_id %}{% endif %}</legend>
        </fieldset>

        {% if document_keys %}
        <p>Your document has been indexed with the following keys:</p>

        <ul class="metainfo">
            <li>Barcode: {{ barcode }}</li>
            {% for item in document_keys %}
            <li>{% get_key_li_item document_keys item %}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <a class="btn btn-primary" href="{% url mdtui-index %}">Start Again <i class="icon-chevron-right icon-white"></i></a>
    {% endif %} {# end step 4 #}

{% endblock %}

{% block css_extra %}
<style type="text/css">
    #results-table tbody tr.highlight { font-weight: bold; cursor: pointer; }
    #body-content {
        background-image: url("{{ STATIC_URL }}barcode-background.png");
        background-repeat: no-repeat;
        background-position: 100px 201px;
    }
</style>
<!--[if IE]>
<style type="text/css">
    .bigmodal {
        width:940px;
        margin-left:-470px;
    }
</style>
<![endif]-->
{% endblock %}

{% block js_extra_inline %}
{% if step == "2" %}{% include "mdtui/_typeaheadjs.html" %}{% endif %}
{% if step == "3" %}{% include "mdtui/_barcode_scripts.html" %}{% endif %}
{% endblock %}
