{% extends "mdtui/base.html" %}
{% load i18n %}

{% block body_content %}

    <h1 id="page-heading">{% block body_title %}{% trans 'Document Indexing' %}{% endblock %}</h1>

    {% if step == '1' or step == "2" or step == "3" or step != "4"%}
    {# Use this for a progress / step indicator / navigation #}
    <ul class="pager x-progress-tracker">
        {% url "mdtui-index-type" as u %}
        <li{% if request.path == u %} class="active"{% endif %}><a href="{{ u }}">{% trans 'Step 1: Select Type' %} &rarr;</a></li>
        {% url "mdtui-index-details" as u %}
        <li{% if request.path == u %} class="active"{% endif %}><a href="{{ u }}">{% trans 'Step 2: Index Details' %} &rarr;</a></li>
        {% url "mdtui-index-source" as u %}
        <li{% if request.path == u %} class="active"{% endif %}><a href="{{ u }}">{% trans 'Step 3: Select Source' %} &rarr;</a></li>
        {% url "mdtui-index-finished" as u %}
        <li{% if request.path == u %} class="active"{% endif %}><a href="{{ u }}">{% trans 'Step 4: Finish' %}</a></li>
    </ul>
    {% endif %}

    {% block custom_branding %}{% endblock %}

    {# WARNINGS HANDLER #}
    {% for warning in warnings %}
    <div class="alert">
        <a class="close">×</a>
        <strong>{{ warning }}</strong>
    </div>
    {% endfor %}

    {% for warning in error_warnings %}
        <div class="alert alert-error">
            <a class="close">×</a>
            <strong>{{ warning }}</strong>
        </div>
    {% endfor %}

    {% if step == "1" %}
        {% include "mdtui/index/index_type.html" %}
    {% endif %}

    {% if step == "2" %}
        {% include "mdtui/index/index_details.html" %}
    {% endif %}

    {% if step == "3" %}
        {% include "mdtui/index/index_source.html" %}
    {% endif %}

    {% if step == "4" %}
        {% include "mdtui/index/index_review.html" %}
    {% endif %}

    {% if step == "edit" %}
        {% include "mdtui/edit/edit.html" %}
    {% endif %}

    {% if step == "edit_type" %}
        {% include "mdtui/edit/edit_type.html" %}
    {% endif %}

    {% if step == "edit_finish" %}
        {% include "mdtui/edit/edit_finished.html" %}
    {% endif %}

    {% if step == "edit_revisions" %}
        {% include "mdtui/edit/edit_revisions.html" %}
    {% endif %}
{% endblock %}

{% block css_extra %}
<style type="text/css">
    #results-table tbody tr.highlight { font-weight: bold; cursor: pointer; }
    #body-content {
        background-image: url("{{ STATIC_URL }}barcode-background.png");
        background-repeat: no-repeat;
        background-position: 100px 201px;
    }
    button.step1 {
        min-width: 300px;
        max-width: 800px;
    }
</style>
<!--[if IE]>
<style type="text/css">
    .bigmodal {
        width:940px;
        margin-left:-470px;
    }
</style>
<![endif]-->
{% endblock %}

{% block js_extra_head %}
{% if step == "1" %}{% include "mdtui/index/index_type_scripts.html" %}{% endif %}
{% endblock %}

{% block js_extra_inline %}
{% if step == "2" or step == "edit" %}{% include "mdtui/autocomplete.html" %}{% endif %}
{% if step == "3" or step == "edit_revisions" %}{% include "mdtui/_barcode_scripts.html" %}{% endif %}
{% endblock %}
