{% extends "mdtui/base.html" %}
{% load i18n %}
{% load index_keys %}
{% load widget_tweaks %}

{% block body_content %}
    <h1 id="page-heading">{% block body_title %}Document Search{% endblock %}</h1>

    {% if step != None %}
    {# Use this for a progress / step indicator / navigation #}
    <ul class="pager x-progress-tracker">
        {% url mdtui-search-type as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 1: Select Type &rarr;</a></li>
        {% url mdtui-search-options as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 2: Options &rarr;</a></li>
        {% url mdtui-search-results as url %}
        <li{% if request.path == url %} class="active"{% endif %}><a href="{{ url }}">Step 3: Results &rarr;</a></li>
    </ul>
    {% endif %}

    {% block custom_branding %}{% endblock %}

    {# WARNINGS HANDLER #}
    {% for warning in warnings %}
    <div class="alert">
        <a class="close">×</a>
        <strong>{{ warning }}</strong>
    </div>
    {% endfor %}

    {% if success_warnings %}
    <div class="alert alert-success">
        <a class="close">×</a>
        <strong>{{ warning }}</strong>
    </div>
    {% endif %}

    {% if step == None %} {# This step will no long be visible #}
        <p>This is where it begins...</p>
        <a class="btn btn-primary btn-large" href="{% url mdtui-search-type %}">Start <i class="icon-chevron-right icon-white"></i></a>
    {% endif %}

    {% if step == "type" %}
        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Step {{ step }}: Select Document Type</legend>
                {{ form }}
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</button>
                <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
            </div>
        </form>
    {% endif %} {# end step 1 #}

    {% if step == "options" %}
        <form class="form-horizontal" action="{{ request.path }}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>{% if request.session.docrule %}{% get_docrule_name_by_id request.session.docrule %} {% endif %}Search Options</legend>

                <br />
                {% comment %}
                <div class="alert alert-error">
                    <a class="close">×</a>
                    <strong>Error!</strong> Form validation errors go here! (field validation errors go along each field below)
                </div>
                {% endcomment %}

                {# SEARCH INDEX DETAILS FORM RENDERING #}
                {% for field in form %}
                {% include 'mdtui/secondary_index_form_field.html' %}
                {% endfor %}
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger"><i class="icon-repeat icon-white"></i> Reset</button>
                <button type="submit" class="btn btn-primary">Search <i class="icon-search icon-white"></i></button>
            </div>
        </form>
    {% endif %}

    {% if step == "results" %}
        <fieldset>
            <legend>{% if request.session.docrule %}{% get_docrule_name_by_id request.session.docrule %} {% endif %} Results</legend>
        </fieldset>

        <table class="table table-striped" id="results-table">
            <caption>Search with keys:
                <ul class="metainfo">
                {% for item in document_keys %}
                        <li>{% get_key_li_item document_keys item %}</li>
                {% endfor %}
                </ul>
            </caption>
            <thead>
                <tr>
                    <th>View</th>
                    <th><a href="{# sort on this#}">Date</a></th>
                    {% for key in mdts %}
                    <th><a href="{# sort on this#}">{{ key }}</a></th>
                    {% endfor %}
                    <th><a href="{# sort on this#}">Description</a></th>
                    <th><a href="{# sort on this#}">Type</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for doc in documents %}
                <tr>
                    <td style="white-space: nowrap;"><a href="{% url mdtui-search-view doc.id %}" title="View Document" target="_blank"><i class="icon-download"></i> {{ doc.id }}</a></td>
                    <td style="white-space: nowrap;">{{ doc.metadata_created_date|date:"Y-m-d" }}</td>
                    
                    {% for key in mdts %}
                    <td>{% get_sec_key_for_doc doc.mdt_indexes key %}</td>
                    {% endfor %}

                    <td>{{ doc.metadata_description }}</td>
                    <td>{% get_docrule_name_by_id doc.metadata_doc_type_rule_id %}</td>
                    <td><a href="{% url bcp-print 'Code128' doc.id %}" title="{% trans 'Reprint Barcode' %}"><i class="icon-barcode"></i></a> | {# TODO: Admin only #}<a href="" title="{% trans 'Edit Metadata' %}"><i class="icon-edit"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% comment %}
        TODO FINISH THIS
        <hr />
        <p>{# TODO: show number of results found #} Showing 50 of 1,232,300 results matching query.</p>
        {# Let's use pagination like this #}
        <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
{% endcomment %}

        <a href="{% url mdtui-search-export %}" title="Download Results to CSV" class="btn"><i class="icon-download-alt"></i> Export Results</a>

    {% endif %}

{% endblock %}

{% block css_extra %}
    <style type="text/css">
        #results-table tbody tr.highlight { text-decoration: underline; cursor: pointer; }
        #body-content {
            background-image: url("{{ STATIC_URL }}search-background.png");
            background-repeat: no-repeat;
            background-position: 100px 166px;
        }
        .metainfo { list-style: none; border-collapse: collapse; }
    </style>
{% endblock %}

{% block js_extra_inline %}
    {% if step == "results" %}
    <script type="text/javascript">
        $(document).ready(function(){
            // Hide the first cell for JavaScript enabled browsers.
            //$('#link-table td:first-child').hide();

            // Apply a class on mouse over and remove it on mouse out.
            $('#results-table tbody tr').hover(function() {
                $(this).toggleClass('highlight');
            });

            // Assign a click handler that grabs the URL
            // from the first cell and redirects the user.
            $('#results-table tbody tr').click(function() {
                location.href = $(this).find('td a').attr('href');
            });
        });

    </script>
    {% endif %}
    {% if step == "options" %}{% include "mdtui/_typeaheadjs.html" %}{% endif %}
    {% if step == "view" %}
    <script type="text/javascript" language="javascript" charset="utf-8" src="{{ STATIC_URL }}js/pdfobject.min.js"></script>
    <script type='text/javascript'>
        function embedPDF(){
            var myPDF = new PDFObject({
                url: '{% url mdtui-download-pdf code %}', //This assumes source is convertible to a PDF
                pdfOpenParams: { view: 'Fit', scrollbars: '0', toolbar: '0', statusbar: '0', messages: '0', navpanes: '0' }
            }).embed('pdfobj');
        }
        window.onload = embedPDF; //Feel free to replace window.onload if needed.
    </script>
    {% endif %}
{% endblock %}