{% load index_keys %}
{% load widget_tweaks %}

{% if field.name == "export_results" %}
{# Doing nothing for export results field #}
{% else %}
{% if field|field_type != "DateField" %}
    {# String/Integer form field type #}
    <div class="control-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <a class="close">×</a>
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <label class="control-label">{{ field.label }}</label>
        <div class="input">
            <div class="controls">
                <div class="input-prepend">
                    {% if field|field_type == "IntegerField" %}
                    <span class="add-on"><i class="dms-calculator-edit"></i></span>
                    {% else %}
                    {% if field|field_type == "CharField" %}
                    <span class="add-on"><i class="dms-page-white-edit"></i></span>
                    {% endif %}
                    {% endif %}
                    {{ field|attr:'class:input-xxlarge' }}
                    <p class="help-block">{{ field.help_text }}</p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {# Dynamic Date type fields rendering #}
    {% if field.name != "date" %} {% if field.name != "end_date" %}
        <div class="control-group">
            {%  if field.errors %}
                {%  for error in field.errors %}
                    <div class="alert alert-error">
                        <a class="close">×</a>
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <label class="control-label" for="id_date_{{ field.name }}">{{ field.label }}</label>
            <div class="input">
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="dms-calendar-edit"></i></span>
                        <input id="id_date_{{ field.name }}" type="text" value="{{ field.value|date:DATE_FORMAT }}" class="input-medium" name="{{ field.name }}" data-datepicker="datepicker" />
                        {% if field.name == "date" %}
                            {# Additional date range field #}
                        {% endif %}
                        <p class="help-block">{{ field.help_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} {# not end_date #}
    {% endif %} {# not date #}

    {% if field.name == "date" %}
        <div class="row">
        <div class="span6">
            <div class="control-group">
                {# Rendering first part of fields pair #}
                {%  if field.errors %}
                    {%  for error in field.errors %}
                        <div class="alert alert-error">
                            <a class="close">×</a>
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <label class="control-label" for="id_date">{{ field.label }}</label>
                <div class="input">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="dms-calendar-edit"></i></span>
                            <input id="id_date" type="text" value="{{ field.value|date:DATE_FORMAT }}" class="input-medium" name="{{ field.name }}" data-datepicker="datepicker" />
                            <p class="help-block">{{ field.help_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %} {# field = date #}

    {% if field.name == "end_date" %}
        {# Additional date range field (Second part) #}
        <div class="span6">
            <div class="control-group">
                {%  if field.errors %}
                    {%  for error in field.errors %}
                        <div class="alert alert-error">
                            <a class="close">×</a>
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <label class="control-label" for="id_end_date">{{ field.label }}</label>
                <div class="input">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="dms-calendar-edit"></i></span>
                            <input id="id_end_date" type="text" value="{{ field.value|date:DATE_FORMAT }}" class="input-medium" name="{{ field.name }}" data-datepicker="datepicker" />
                            <p class="help-block">{{ field.help_text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endif %} {# field = end_date #}
{% endif %} {# field_type #}
{% endif %} {# not export results #}