{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    {% if mimetype == 'application/pdf' or mimetype == 'stub_document' %}
    {# Force IE into compatibility mode, so the PDFObject works in IE9 #}
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>View PDF</title>
    <script type="text/javascript" language="javascript" charset="utf-8" src="{{ STATIC_URL }}js/pdfobject.min.js"></script>
    <script type='text/javascript'>
        window.onload = function (){
            var myPDF = new PDFObject({
                url: '{{ pdf_url }}{% if revision %}?revision={{ revision }}{% endif %}',
                pdfOpenParams: {
                    view: 'Fit',
                    scrollbars: '0',
                    toolbar: '1',
                    statusbar: '0',
                    messages: '0',
                    navpanes: '0',
                    pagemode: 'thumbs'
                }
            }).embed();
        }
    </script>
    {% endif %}
</head>
<body>
{% if mimetype == 'image/jpeg' %}
<img src="{% url "api_file code" %}{% if revision %}?r={{ revision }}{% endif %}" alt="{{ code }}"><img>
{% else %}
<div id="pdfobj"></div>
<p><a href="{% url "mdtui-download-pdf" code %}" title="{% trans 'Download Document' %}" class="btn"><i class="icon-download-alt"></i> Download document &ldquo;{{ code }}&rdquo;</a></p>
{% endif %}
</body>
</html>
