{% extends THEME_TEMPLATE %}

{% load i18n %}

{% block title %}Login{% endblock %}

{% block body_class %}login{% endblock %}

{% block content %}
<h1>Login</h1>
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="login">
<form action="{% url django.contrib.auth.views.login %}" method="post" id="login-form">

    {% csrf_token %}

    <dl class="line">
        <dt><label for="id_username">{% trans 'Username' %}</label></dt>
        <dd><input id="id_username" name="username" type="text" value="admin" class="input" /></dd>
    </dl>
    <dl class="line">
        <dt><label for="id_password">{% trans 'Password' %}</label></dt>
        <dd><input id="id_password" name="password" type="password" value="admin" class="input" />
            <input type="hidden" name="this_is_the_login_form" value="1" /></dd>
    </dl>
    {# TODO: Fix this so that it doesn't only show 'demo' login #}
    <div class="buttons">
        <input name="" type="submit" value="{# % trans 'Log in' % #}" class="submit" />
    </div>
    
</form>

<script type="text/javascript">
document.getElementById('id_username').focus();
</script>
</div>
{% endblock %}

