{% extends 'site_base.html' %}
{% load i18n %}

{% block logo %}
    <a href="/"><img src="{{ MEDIA_URL }}themes/adlibre/adlibre-dms-logo.png" title="{% trans 'Adlibre DMS' %}" alt="{% trans 'Adlibre DMS' %}" /></a>
{% endblock %}

{% block header %}
    <div id="menu">
        <ul>
            <li class="home"><a href="/">{% trans 'Home' %}</a></li>
            {% if user.is_staff %}
            <li class="files"><a href="{% url files_index %}">{% trans 'Files' %}</a></li>
            <li class="settings"><a href="{% url setting %}">{% trans 'Settings' %}</a></li>
            <li class="plugins"><a href="{% url plugins %}">{% trans 'Plugins' %}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="logout"><a href="{% url logout %}">{% trans 'Log out' %}</a></li>
            {% else %}
            <li class="login"><a href="{% url login %}">{% trans 'Log in' %}</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}


