<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - Adlibre DMS</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/style.css" />
    <link rel="shortcut icon" href="/media/favicon.ico" />
</head>
<body>

  {% if user.is_authenticated %}
  <div id="header">
    Signed in as {{ user }}
    {% if user.is_staff %}
    | <a href="{% url setting %}">Settings</a>
    | <a href="{% url plugins %}">Plugins</a>
    {% endif %}
    | <a href="{% url logout %}">Sign out</a>
  </div>
  {% endif %}

  <div id="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
	<div id="footer">
	    Adlibre DMS - &copy; Adlibre {% now "Y" %} · <a href="/docs/api/">API</a> · <a href="/">Upload</a>
	</div>
	</div>
	{% block javascript %}
	<script type="text/javascript" language="javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery.tools.min.js"></script>
	<script type="text/javascript" language="javascript" charset="utf-8" src="{{ MEDIA_URL }}js/script.js"></script>
	{% endblock %}
</body>
</html>

