<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - Adlibre DMS</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/{{ THEME_NAME }}/style.css" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
</head>
<body>
<div id="page_wrapper">
    <div id="logo_wrapper">
        {% block logo %}{% endblock %}
    </div>
    <div id="header">
        {% block header %}{% endblock %}
    </div>
    <div id="container">
        {% block body %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock %}
	</div>
	{% block javascript %}{% endblock %}
</div>
</body>
</html>