{% load index_keys %}
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>About to store index data for document: {{ barcode }}</legend>
        {% if document_keys %}
            <p>Your NEW document keys are:</p>
            <ul class="metainfo">
                <li>Description: {{ new_description }}</li>
                {% for item in document_keys %}
                    {% if item != 'description' %}
                    <li>{% get_key_li_item document_keys item %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% if old_document_keys %}
            <p>Your OLD document keys were:</p>
            <ul class="metainfo">
                <li>Description: {{ old_description }}</li>
                {% for item in old_document_keys %}
                    {% if item != 'description' %}
                    <li>{% get_key_li_item old_document_keys item %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </fieldset>
    {% if barcode %}
    <div class="form-actions">
        <a class="btn btn-warning" href="{% url "mdtui-edit" code=barcode %}">Re-edit <i class="icon-chevron-left icon-white"></i></a>
        <button type="submit" class="btn btn-success">Save <i class="icon-chevron-right icon-white"></i></button>
    </div>
    {% endif %}
</form>
