<form class="form-horizontal" action="{{ request.path }}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend>Change document type for document: {{ doc_name }}</legend>
        <br />
        {# EDIT INDEX DATA FORM RENDERING #}
        {# Form non field errors dummy #}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <a class="close">×</a>
                    <strong>{{ error.message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form }}
    </fieldset>

    <div class="form-actions">
        <a href="{% url mdtui-edit doc_name %}" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</a>
        <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
    </div>
</form>