/* UI declarations */

/* UI page header settings */
#container {
	padding-top: 0px;
}

#ui_page_header_wrapper {
    position: fixed;
    top: 0;
    height: 95px;
    width: 100%;
    background: white;
}

#ui_content_wrapper {
    margin-top:60px;
    margin-bottom: 15px;
}

#page_wrapper {
	width:100%;
	height: 100%;
}

#logotype {
    position: fixed;
	margin-top: 1px;
}

#ui_upload_file_form_wrapper {
    position: fixed;
    top:3px;
    right:3px;
    margin-top: 0px;
}

#ui_breadcrumbs {
    position: fixed;
    width: 100%;
    margin-top: 70px;
    margin-left: 0px;
    height:25px;
    line-height:25px;
    background-color: #F9A749;
}

#ui_breadcrumbs li {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    padding: 0 20px;
}

#ui_breadcrumbs li a {
    text-decoration: underline;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #D48E3E;
}

#ui_breadcrumbs li a:hover {
    text-decoration: none;
}

/* UI content block overriding */
#ui_content_wrapper {
	overflow: visible;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 95px;
	bottom: 10px;
    margin-top: 0px;
    min-width: 0px;
    min-height: 0px;
}

/* UI restyle document body */
#ui_document iframe {
    height: 100%;
    width: 100%;
    margin-right: 0px;
    min-width: 0px;
    min-height: 0px;
    border: 0px !important;
}

/* UI main document */
#ui_document {
    position: absolute;
    right: 370px;
    left:0px;
}

/* UI right control panel */
#ui_control_panel {
	position: absolute;
	top: 0px;
	bottom: 10px;
	right: 0px;
	margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FEEEBD;
    border-color: #2B2E30 #18191A #010101;
    border-style: solid;
    border-width: 1px;
    color: #383838;
    font-size: 12px;
    width: 364px;
    height: 100%;
    
}

#ui_control_panel_left_side {
    float: left;
    width: 149px;
    height:100%;
}

#ui_control_panel_right_side {
    float: right;
    width: 214px;
    border-left: 1px solid #CCC;
    height:100%;
}

#ui_control_panel ul, 
#ui_control_panel ul h3 {
    marign: 0;
    padding: 0;
    list-style-type: none;
    color: #383838;
    margin-top: 2px;
    margin-bottom: 2px;
}

#ui_control_panel div h3, 
#ui_control_panel div h4 {

}

#ui_search_field, 
#ui_calendar_form #id_date,
#ui_add_tags_field,
#ui_new_name_field {
    background: url('bg-inputs.png') no-repeat top left;
    height: 25px;
    background-size: 119px 25px;
    width: 119px;
}

#ui_calendar_form #id_date {
    background-size: 69px 16px;
    width: 69px;
    height: 16px;
}

#ui_tag_list li,
#ui_order_tab li {
    padding-bottom: 5px;
}

#ui_tag_list li span {
    marign-right:2px;
}

#ui_tag_list li a, 
#ui_tag_list li span,
#ui_revision_list li a,
#ui_order_tab li a, 
#ui_clear_filter, 
#ui_date_filter_submit,
#ui_search_submit,
#ui_pager li a,
#ui_rename_document_form_submit,
#ui_add_tags_form_submit,
#ui_delete_document_form input {
    background-color: #FECE2F;
    background-clip: border-box;
    background-attachment: scroll;
    background-origin: padding-box;
    border-bottom-color: #D19405;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #D19405;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #D19405;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #D19405;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 1px;
    color: #4C3000;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
    height: 18px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    position: relative;
    text-align: auto;
    text-align: -webkit-auto;
    width: 38px;
    cursor: pointer; /* hand-shaped cursor */
    cursor: hand; /* for IE 5.x */
}

#ui_tag_list li a:hover, 
#ui_order_tab li a:hover, 
#ui_clear_filter:hover,
#ui_date_filter_submit:hover,
#ui_search_submit:hover,
#ui_pager li a:hover,
#ui_revision_list li a:hover,
#ui_add_tags_form_submit:hover,
#ui_rename_document_form_submit:hover,
#ui_delete_document_form input:hover {
    background-color: #F9A749;
}

#ui_search_submit {
    width: 18px;
    height: 18px;
    position: absolute;
    right:10px;
}

#ui_clear_filter {
   height: 25px;
   width: 80px;
}

/* UI GO buttons specific */
#ui_date_filter_submit,
#ui_add_tags_form_submit,
#ui_rename_document_form_submit {
    width: 55px;
    height: 25px;
    margin-left: 5px;
}

#ui_order_tab li a {
    padding-left: 14px;
    background: url('arrow_tiny.gif') no-repeat center left;
    background-size: 9px 9px;
    background-color: #FECE2F;
}

.ui_delete_revision_link, 
.ui_delete_tag_link {
    text-transform:lowercase;
    color: red !important; 
}

#ui_revissions_filter {
    height: auto;
    padding-left: 5px;
}

#ui_revision_list li {
    margin-bottom: 4px;
}

#ui_metadata {
	height: auto;
	padding-left: 5px;
}

#ui_metadata_list {
    margin-left: 0px;
}

#ui_metadata_list li{
    border-color: #D19405;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    background: white;
}
#ui_delete_document_form input {
    padding-left: 25px;
    background: url('btn-delete-document.png') no-repeat center left;
    background-size: 23px 23px;
    background-color: #FECE2F;
    width: 169px;
    height: 30px;
}

#ui_tags_view_item_list {
    margin-top: 2px;
}

#ui_tags,
#ui_rename_document_form,
#ui_delete_document_form {
    margin-left: 5px;
    margin-bottom: 5px;
}

#ui_tag_list li span {
    cursor: default;
}

/* UI overrides of main style.css here. Datepicker design overrides correcting. */
div.datepick-popup table th, 
div.datepick-popup table td {
    height: 17px;
    border-spacing: 0px;
}

div.datepick-popup table tr:hover a:link {
    color: #3B3F41
}

/* UI footer settings */
#footer {
	position: absolute;
    padding-top: 0px;
    text-align: center;
    border-top: 2px solid #E9EAEA;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
}

#footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* UI rules list design fixups */
#ui_rules_list_wrapper {
    margin: 20px 40px;
} 

/* UI documents list page settings */
#ui_documents_list_wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 400px;
    left: 0px;
}

#ui_pager {
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    height: 20px;
}

#ui_document_list {
    position: relative;
    width: 880px;
    height: 280px;
    top: 0px;
    left: 0px;
}

