/* UI declarations */
#ui_breadcrumbs {
    height:35px;
    line-height:35px;
    background-color: #F9A749;
}

#ui_breadcrumbs li {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
}

#ui_breadcrumbs li a {
    text-decoration: underline;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #D48E3E;
}

#ui_upload_file_form {
    background-color: #3D4143;
    border-color: #2B2E30 #18191A #010101;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 0 #E2E2E3;
    padding: 10px 15px;
    width: 550px;
}

#upload_file_fake_filename {
    background: url("bg-inputs.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    width: 270px;
}

#ui_upload_file_form_name {
    font-size: 24px;
    color: white;
    height: 39px;
    line-height: 39px;
}

#upload_file_fake_browse, #ui_upload_file_submit {
    background: url("btn-browse.png") no-repeat scroll 0 0 transparent;
    border: none;
    border-style: none;
    color: #3B3F41;
    cursor: pointer;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    height: 32px;
    text-shadow: 1px 0 1px #FAC659;
}

#ui_upload_file_submit {
    background: url("btn-go.png") no-repeat scroll 0 0 transparent;
}