{% extends "ui/base.html" %}

{% load i18n %}

{% block title %}Documents{% endblock %}

{%block head_includes%}
<style type="text/css">@import "{{ MEDIA_URL }}css/datepick/jquery.datepick.css";</style>

{%endblock%}

{% block content %}
<div id="ui_control_panel">
    <div id="ui_control_panel_left_side">
        <ul id="ui_tags_filter">
            <h3>Tag:</h3>
            <ul id="ui_tag_list"></ul>
        </ul>
    </div>
    <div id="ui_control_panel_right_side">
	    <ul id="ui_order_filter">
	        <h3>Order:</h3>
	        <ul id="ui_order_tab"></ul>
	    </ul>
	    
	    <hr />
	    
	    <ul id="ui_search_form">
	        <h3>Search:</h3>
	        <h3><form id="ui_search_form">
	            <input id="ui_search_field" type="text" name="q" />
	            <span><input id="ui_search_submit" type="image" value="Go" src="{{ MEDIA_URL }}themes/{{ THEME_NAME }}/btn-search.png" /></span>
	        </h3></form>
	    </ul>
	    
	    <hr />
	    
	    <ul id="ui_filters_header">
	        <h3>Filter by:
	        <button id="ui_clear_filter">Clear all</button>
	        </h3>
	    </ul>
	    <ul id="ui_date_filter">
	        <form id="ui_calendar_form">
	           {{calendar_form}}
	           <input id="ui_date_filter_submit" type="submit" value="Go &rarr;" />
	        </form>
	    </ul>
	</div>
</div>
<div id="ui_documents_list_wrapper">
    <h1>Documents</h1>
    <ul id="ui_document_list"></ul>
    <ul id="ui_pager"></ul>
</div>
{%endblock%}

{%block javascript%}
{{block.super}}
<script type="text/javascript" src="{{ MEDIA_URL }}js/datepick/jquery.datepick.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-endless-scroll-1.3.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    $("#id_date").datepick();
    window.ui_communicator.document_list_init();
    window.ui_communicator.get_documents();
});
</script>
{%endblock%}
