<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - Adlibre DMS</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/{{ THEME_NAME }}/style.css" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.css" />
    {%block head_includes%}{%endblock%}
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="page_wrapper">
    <div id="container">
{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        <ul id="ui_breadcrumbs">
            <li><a href="{%url ui_rule_list%}">Index</a></li>
        </ul>
        <form id="ui_upload_file_form" enctype="multipart/form-data" action="{%url ui_upload_document%}" method="post">
            <h3 class="float-left">Upload File</h3>
            {%csrf_token%}
            <input type="file" name="file" id="ui_upload_file_field" />
            <input type="submit" value="Go" />
        </form>
        <br style="clear: both" />
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
    </div>
    <div id="footer">
{% block footer %}
    <p>
        Adlibre DMS - &copy; Adlibre {% now "Y" %}
        &middot; <a href="{% url about_documentation %}">About</a>
        &middot; <a href="{% url documentation_index %}">Docs</a>
        &middot; <a href="{% url upload %}">Upload</a>
        <span>Version: 1.0 Beta. {% if user.is_authenticated %}Logged in as {{ user }}{% else %}Logged out{% endif %}.</span>
    </p>
{% endblock %}
	</div>
{%block javascript%}
<script type="text/javascript" language="javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.ba-bbq.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/ui/communicator.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/ui/renderer.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/ui/manager.js"></script>
<script type="text/javascript" language="javascript">
var UI_URLS = {{communicator_options|safe}};
var manager = new UIManager();
var renderer = new UIRenderer(manager);
window.ui_communicator = new UICommunicator(manager, renderer);
</script>
{%endblock%}
</div>
</body>
</html>
