<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} - Adlibre DMS</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/{{ THEME_NAME }}/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/{{ THEME_NAME }}/ui.css" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/uploadfile.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.css" />
    {%block head_includes%}{%endblock%}
</head>
<body class="{% block body_class %}{% endblock %}">
<div id="page_wrapper">
    <div id="container">
{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
    {% if THEME_NAME == 'solid' %}
        <ul id="logotype">
            <a href="/ui/"><img src="{{ MEDIA_URL }}themes/{{ THEME_NAME }}/adlibre-dms-logo.png" title="Adlibre DMS" alt="Adlibre DMS" /></a>
        </ul>
    {% endif %}
        <ul id="ui_breadcrumbs">
            <li><a href="{%url ui_rule_list%}">Rules</a></li>
        </ul>
        <ul id="ui_upload_file_form_wrapper">
            <form id="ui_upload_file_form" enctype="multipart/form-data" action="{%url ui_upload_document%}" method="post">
                {%csrf_token%}
                <span id="ui_upload_file_form_name" class="float-left">Upload File</span>
                <input type="file" value="" name="file" id="upload_file_fileinput" />
                <input type="text" id="upload_file_fake_filename" readonly="readonly" class="textareas" />
                <input type="button" class="simple_button" id="upload_file_fake_browse" value="Browse" />
                <input type="submit" class="simple_button upload_btn" id="ui_upload_file_submit" name="" value="Go" title="" />
            </form>
            <br style="clear: both" />
        </ul>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
    </div>
    <div id="footer">
{% block footer %}
    <p>
        Adlibre DMS - &copy; Adlibre {% now "Y" %}
        &middot; <a href="{% url about_documentation %}">About</a>
        &middot; <a href="{% url documentation_index %}">Docs</a>
        &middot; <a href="{% url upload %}">Upload</a>
        <span>Version: 1.0 Beta. {% if user.is_authenticated %}Logged in as {{ user }}{% else %}Logged out{% endif %}.</span>
    </p>
{% endblock %}
	</div>
{%block javascript%}
<script type="text/javascript" language="javascript" charset="utf-8" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.ba-bbq.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/ui/communicator.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/ui/renderer.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/ui/manager.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/js/uploadfile.js"></script>
<script type="text/javascript" language="javascript">
var UI_URLS = {{communicator_options|safe}};
var manager = new UIManager();
var renderer = new UIRenderer(manager);
window.ui_communicator = new UICommunicator(manager, renderer);
</script>
{%endblock%}
</div>
</body>
</html>
