{% extends "ui/base.html" %}

{% load i18n %}

{% block title %}Documents{% endblock %}

{% block content %}
<h1>Documents</h1>
<div id="ui_control_panel">
<h3>Order</h3>
<ul id="ui_order_tab"></ul>
</div>
<ul id="ui_document_list"></ul>
<ul id="ui_pager"></ul>
{%endblock%}

{%block javascript%}
{{block.super}}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-endless-scroll-1.3.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function(){
    window.ui_communicator.document_list_init();
    window.ui_communicator.get_documents();
});
</script>
{%endblock%}
