<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Print PDF</title>
    {# TODO: FIXME This is still not working right in non chrome browsers... #}
    {# however probably not needed anymore, as we can force print the PDF using embedded JavaScript #}
    {% comment %}
    <script type="text/javascript" language="javascript" charset="utf-8" src="{{ STATIC_URL }}js/pdfobject.min.js"></script>
    <script type="text/javascript" language="javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type='text/javascript'>

        function embedPDF(elementId){
            var myPDF = new PDFObject({

                url: '{{ pdf_url }}',
                pdfOpenParams: { view: 'Fit', scrollbars: '0', toolbar: '0', statusbar: '0', messages: '0', navpanes: '0' }

            }).embed(elementId);
        }

        function printTrigger(elementId) {
            var getMyFrame = document.getElementById(elementId);
            getMyFrame.focus();
            getMyFrame.contentWindow.print();
        }

        $(document).ready(function() {
            printTrigger('iFramePdf'); // Chrome
            //embedPDF('pdfobj'); // Non Chrome
        });

    </script>
    {% endcomment %}

</head>
<body>

{% comment %}
<input type="button" value="Print" onclick="printTrigger('iFramePdf');" />
{% endcomment %}

<div id="pdfobj">
    <iframe id="iFramePdf" src="{{ pdf_url }}" style="display:none;"></iframe>
</div>

</body>
</html>