{% extends THEME_TEMPLATE %}

{% block title %}Plugins{% endblock %}

{% block body_class %}plugins{% endblock %}

{% block content %}
<h1>Plugins</h1>

<table id="rules">
    <tr>
        <th>PluginPoint</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    {% for plugin in plugin_list %}
    <tr>
        <td>{% ifchanged plugin.point %}{{ plugin.point|cut:"dms_plugins.pluginpoints." }}{% endifchanged %}</td>
        <td>{{ plugin.get_plugin.title }}</td>
        <td>{{ plugin.get_plugin.plugin_type }}</td>
        <td>{{ plugin.get_plugin.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

