{% extends 'browser/files_base.html' %}

{% block content %}
<div>
  <h1>Documents for {{ mapping.get_name }}</h1>

      <table id="rules">
      <tr>
          <th>Document</th>
          <th>Revisions</th>
      </tr>
      {% for document in document_list %}
        <tr>
          <td>{{ document.name }}</td>
          <td><a href="{% url revision_document document.name %}{%if document.directory%}?dir={{document.directory}}{%endif%}">Revisions</a></td>
        </tr>
      {% endfor %}
      </table>
</div>
{% endblock %}

