<form class="form-horizontal" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Edit index data for document: {{ doc_name }}</legend>
        <br />
        {# EDIT INDEX DATA FORM RENDERING #}
        {# Form non field errors dummy #}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error">
                    <a class="close">×</a>
                    <strong>{{ error.message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            {% include "mdtui/index/index_form_field.html" %}
        {% endfor %}
        {% if form %}
        <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls"><div class="input-prepend">
                <input class="input-xlarge disabled" id="disabledInput" type="text" placeholder="{{ type_name }}" disabled="">
                <a href="{% url mdtui-index-edit-type doc_name %}" class="btn btn-info">
                    <i class="icon-edit icon-white"></i> Change Document Type
                </a>
            </div></div>
        </div>
        {% endif %}
    </fieldset>

    <div class="form-actions">
        <a href="{{ edit_return }}" class="btn btn-danger"><i class="icon-trash icon-white"></i> Cancel</a>
        <button type="submit" class="btn btn-primary">Continue <i class="icon-chevron-right icon-white"></i></button>
        <a href="{% url mdtui-index-edit-revisions doc_name %}" class="btn btn-info"><i class="icon-list icon-white"></i> Manage file revisions</a>
    </div>
</form>