<form class="form-horizontal" action="{{ request.path }}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Step {{ step }}: Select Document Type</legend>
        <div class="btn-group-vertical">
            {% for docrule in docrules_list %}
                <button type="submit" name="{{ docrule.pk }}" class="btn step1{% if active_docrule == docrule.pk %} btn-primary{% endif %}">{{ docrule }}</button>
                <br />
            {% endfor %}
        </div>
    </fieldset>
</form>