{% extends THEME_TEMPLATE %}

{% block title %}Settings{% endblock %}

{% block body_class %}settings{% endblock %}

{% block content %}
<div>
    <h1>Settings</h1>
      <form action="" method="post" id="new-rule-form" {% if not form.errors %}class="hide"{% endif %}>
          {{ form.as_p }}
          <p>
          <label>&nbsp;</label>
          <input type="submit" value="Continue &rarr;" />
          </p>
      </form>
      <table id="settings">
      <tr>
          <th class="first">No</th>
          <th>DocCode Validator</th>
          <th>Storage</th>
          <th>Security</th>
          <th>Validators</th>
          <th>Active</th>
          <th class="last">Edit</th>
      </tr>
      {% for rule in rule_list %}
      <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ rule.get_doccode.name }} - {{ rule.get_doccode.description }}</td>
          <td>{{ rule.get_storage.name }}</td>
          <td>
          <ul>
          {% for security in rule.get_securities %}
            <li>{{ security.name }}
            {% if security.has_configuration and security.active %}
             - <a href="{% url plugin_setting rule.id 'security' forloop.counter0 %}">configure</a>
            {% endif %}
            {% if security.active %}
              (active | <a href="{% url toggle_securities_plugin rule.id forloop.counter0 %}">toggle</a>)
            {% else %}
              (disabled | <a href="{% url toggle_securities_plugin rule.id forloop.counter0 %}">toggle</a>)
            {% endif %}
            </li>
          {% empty %}
            <li>None</li>
          {% endfor %}
          </ul>
          </td>
          <td>
          <ul>
          {% for validator in rule.get_validators %}
            <li>{{ validator.name }}
            {% if validator.has_configuration and validator.active %}
             - <a href="{% url plugin_setting rule.id 'validator' forloop.counter0 %}">configure</a>
            {% endif %}
            {% if validator.active %}
              (active | <a href="{% url toggle_validators_plugin rule.id forloop.counter0 %}">toggle</a>)
            {% else %}
              (disabled | <a href="{% url toggle_validators_plugin rule.id forloop.counter0 %}">toggle</a>)
            {% endif %}
            </li>
          {% empty %}
            <li>None</li>
          {% endfor %}
          </ul>
          </td>
          <td>{{ rule.active }} | <a href="{% url toggle_rule_state rule.id %}">toggle</a></td>
          <td><a href="{% url edit_setting rule.id %}">Edit</a></td>
      </tr>
      {% endfor %}
  </table>

    <a href="" id="new-rule">Add new rule</a>

</div>
{% endblock %}

