{% extends 'base.html' %}

{% block title %}Documents{% endblock %}

{% block content %}
<div>
	  <h1>Documents for {{ rule.name }}</h1>

      <table id="rules">
      <tr>
          <th>Document</th>
          <th>Revisions</th>
          <th>Download</th>
      </tr>
      {% for document in document_list %}
        <tr>
          <td>{{ document }}</td>
          <td><a href="/revision/{{ document }}">Revisions</a></td>
          <td>
          {% if hash %}
            <a href="/{{ hash }}/{{ document }}">Download</a>
          {% else %}
            <a href="/get/{{ document }}?r={{ fileinfo.revision }}">Download</a>
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
</div>
{% endblock %}

